<div style="padding: 0; margin: 0; color: #272f3a;">
    <h2>Good day, Alexandr!</h2>
    <h3><p>U have registered in the DITS application. Your credentials:</p>
    <ul>
        <li>Login: </li>
        <li>Password:</li>
    </ul>
    <p>After checking your profile, you will be given access to the application. <br>
    The corresponding notification will be sent to this email.</p>
    <p>Best regards,<br>DITS team!</p></h3>
    <h5>This email was sent automatically, you do not need to reply to it.</h5>
    <img src="https://heilash.s3.us-east-2.amazonaws.com/dits.png" height="200" alt="dits">
</div>
