<!DOCTYPE html>
<!--todo DELETE/ ONLY TEST FILE-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DITS</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/mdb.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/addons/datatables.min.css">
</head>
<body>

<div class="container">

<!--    111111111111111111111111111111111111111111111111-->

    <div class="accordion" id="ex01">
        <div class="card z-depth-0 bordered">
            <div class="card-header" id="id01">

                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#co01" aria-expanded="false" aria-controls="co01">
                        Collapsible Group Item #2
                    </button>

            </div>
            <div id="co01" class="collapse" aria-labelledby="id01" data-parent="#ex01">
                <div class="card-body">



                    <div class="accordion" id="ex02">
                        <div class="card z-depth-0 bordered">
                            <div class="card-header" id="id02">

                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#co02" aria-expanded="false" aria-controls="co02">
                                    Collapsible Group Item #2
                                </button>

                            </div>
                            <div id="co02" class="collapse" aria-labelledby="id02" data-parent="#ex02">
                                <div class="card-body">








                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>













<!--    11111111111111111111111111111111111-->

</div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script src="js/addons/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
</body>
</html>
